<mat-card>
  <mat-card-header>
    <mat-card-title>Brands</mat-card-title>
  </mat-card-header>

  <mat-card-content>


    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Drinks" #input>
    </mat-form-field>
    
    <p *ngIf="isLoading">Loading..</p>

    
    <div
      class="mat-elevation-z8"
      > 
      <table
	matSort
      *ngIf="!isLoading" mat-table [dataSource]="dataSource" >

      <!--name column -->
      <ng-container matColumnDef="name">
	<th mat-header-cell
	    *matHeaderCellDef
	    mat-sort-header
	    >
	  Name
	</th>
	<td mat-cell
	    *matCellDef="let brand">
	  <a [routerLink]="['/brand/', brand._id]" >
	     {{brand.name}}
	  </a>
	</td>
      </ng-container>

      <!--origin column --> 
      <ng-container matColumnDef="origin">
	<th mat-header-cell
	    *matHeaderCellDef
	    mat-sort-header
	    >
	  Origin
	</th>
	<td mat-cell *matCellDef="let brand">
	  {{brand.origin}}
	</td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>      
      
      <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>

      <tr class="mat-row" *matNoDataRow>
	<td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    </div>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>   
    
  </mat-card-content>

    <!--add button -->
    <button mat-fab class="fab-bottom-right" (click)="onClickAdd()">
      <mat-icon>add</mat-icon>
    </button>
</mat-card>
