table{
    width: 100%;
    margin: 3px;
    padding: 1px;
    background-color: #e0e0ff;
}

mat-card{
    margin: 0.2em;
}

.fab-bottom-right{
    position: fixed;
    left: auto;
    right: 2em;
    bottom: 10px;
}
