<div id="login-container">
<mat-card class="login-form-card">
  <mat-card-title>SnO Admin Panel</mat-card-title>
<form class="login-form" #loginForm="ngForm">  
  
  <!--Login id -->
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
	   placeholder="Username"
	   [(ngModel)]="user.name"
	   name="name"
	   >
  </mat-form-field>

  <!-- Password -->
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
	   placeholder="Password"
	   [(ngModel)]="user.password"
	   name="password"
	   type="password"
	   >
  </mat-form-field>

  <!--Login Button -->
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmitLogin()"
    >
    Login
  </button>
  
  <alert-box type="error" *ngIf="errorMsg.length>0">{{errorMsg}}</alert-box>
</form>

</mat-card>
</div>
