<mat-card>
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="isLoading">Loading..</p>
    
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Coca Cola, 12kg" #input>
    </mat-form-field>

    
    <div class="mat-elevation-z8">
      <table *ngIf="!isLoading"
	     mat-table
	     matSort
	     [dataSource]="dataSource" >

      <!--name column -->
      <ng-container matColumnDef="name">
	<th mat-header-cell
	    *matHeaderCellDef
	    mat-sort-header
	    >
	  Name
	</th>
	<td mat-cell
	    *matCellDef="let product">
	  <a [routerLink]="['/product/', product._id]" >
	     {{product.name}}
	  </a>
	</td>
      </ng-container>

      <!--packaging column -->
      <ng-container matColumnDef="packaging">
	<th mat-header-cell
	    *matHeaderCellDef
	    mat-sort-header
	    >
	  Packaging
	</th>
	<td mat-cell *matCellDef="let product">
	  {{product.packaging}}
	</td>
      </ng-container>

      
      <!--file exists column -->
      <ng-container matColumnDef="fileExists">
	<th mat-header-cell
	    *matHeaderCellDef
	    >
	  Image Working
	</th>
	<td mat-cell
	    *matCellDef="let product"
		    matTooltip="{{product.url}}"
	    >
	  <mat-icon *ngIf="product.fileExists"
		    style="color:green;"
		    >check</mat-icon>
	  <mat-icon *ngIf="!product.fileExists"
	    style="color:red;">close</mat-icon>
	</td>
      </ng-container>


      <!--file category column -->
      <ng-container matColumnDef="category">
	<th mat-header-cell
	    mat-sort-header
	    *matHeaderCellDef>
	  Category
	</th>
	<td mat-cell *matCellDef="let product">
	  {{product.category}}
	</td>
      </ng-container>



      <!--file brand column -->
      <ng-container matColumnDef="brand">
	<th mat-header-cell
	    mat-sort-header
	    *matHeaderCellDef>
	  Brand
	</th>
	<td mat-cell *matCellDef="let product">
	  {{product.brand}}
	</td>
      </ng-container>


      <!--file origin column -->
      <ng-container matColumnDef="origin">
	<th mat-header-cell
	    mat-sort-header
	    *matHeaderCellDef>
	  Origin
	</th>
	<td mat-cell *matCellDef="let product">
	  {{product.origin}}
	</td>
      </ng-container>


      
      
      <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>      
      
      <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>

      <tr class="mat-row" *matNoDataRow>
	<td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>
 
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>   
    <!--add button -->
    <button mat-fab class="fab-bottom-right" (click)="onClickAdd()">
      <mat-icon>add</mat-icon>
    </button>
    </div>
  </mat-card-content>
</mat-card>
