<div id="sidebar-container">
  <div class="sidebar-menu">

    <!--Dashboard button -->    
    <a mat-button
       class="nav-btn"
       [routerLink]="['/dashboard']"
       routerLinkActive="activebtn"
       color="primary">Dashboard</a>

    <!--Category button -->    
    <a mat-button
       class="nav-btn"
       [routerLink]="['/category']"
       routerLinkActive="activebtn"
       color="primary">Category</a>

    
    <!--Brand button -->
    <a mat-button
       class="nav-btn"
       [routerLink]="['/brand']"
       routerLinkActive="activebtn"
       color="primary">Brands</a>
    


    <!--Products button -->
    <a mat-button
       class="nav-btn"
       [routerLink]="['/products']"
       routerLinkActive="activebtn"
       color="primary">Products</a>
    

    <!--News Letters button -->
    <a mat-button
       class="nav-btn"
       [routerLink]="['/newsletters']"
       routerLinkActive="activebtn"
       color="primary">News Letters</a>


    <!--Recipies button -->
    <a mat-button
       class="nav-btn"
       [routerLink]="['/recipes']"
       routerLinkActive="activebtn"
       color="primary">Recipes</a>

  </div>
  <!--
  <ul>
    <li>Dashboard</li>
    <li>Products</li>
    <li>Brands</li>
    <li>Categories</li>
  </ul>-->
</div>
